html {
  text-align: center;
  font-family: "Comic Sans MS", Verdana, Arial, sans-serif;
}

.normal {
  background: url(../Images/charlie-unicorn-candy-mountain.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
}

.game-over {
  background: url(../Images/game-over.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  background-size: cover;
}

h1 {
    margin-top: 1em;
    font-size: 80px;
    color: blue;
    text-shadow: 3px 2px 0 #ffffff;
}

.big-link {
    display: inline-block;
    padding: 20px 60px 25px;
    background: pink;
    border-radius: 60px;
    box-shadow: 0 0 40px gold;
    font-size: 50px;
    text-decoration: none;
    color: blue;
    transition: all 0.5s ease;
}
.big-link:hover {
    background: royalblue;
}

p {
    background: rgba(255, 255, 255, 0.5);
    margin: 5em auto 6em;
    padding: 1em 2em 1.2em;
    font-size: 30px;
    width: 50%;
    border: 7px solid pink;
}

.level {
    background: rgba(255, 255, 255, 0.5);
    margin: 5em auto 6em;
    padding: 1em 2em 1.2em;
    font-size: 30px;
    width: 50%;
    border: 7px solid pink;
}

.level input {
    background: rgba(255, 255, 255, 0.5);
    margin: 1em auto 1em;
    padding: 1em 2em 1.2em;
    font-size: 30px;
    width: 80%;
    border: 7px solid yellow;
}

.level div {
    margin: 0em auto 0em;
    font-size: 30px;
    width: 80%;
}

.hidden {
    display: none;
}

#image img {
    width: 60%;
}