@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Candy Security Game</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/style.css">
        @RenderSection("Scripts", false)
    </head>
    @{var bodyClass = ViewBag.EndOfGame == true ? "game-over" : "normal";}
    <body class="@bodyClass">
        <div>
            @if (ViewBag.Header != null) {
                <h1>@ViewBag.Header</h1>
            }
            @RenderBody()
        </div>
    </body>
</html>