@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Candy Security Game</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/style.css">
    </head>
    <body>
        <div>
            @if (ViewBag.Header != null) {
                <h1>@ViewBag.Header</h1>
            }
            @RenderBody()
        </div>
    </body>
</html>