@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy CSRF: Level 1";
}

<p>Параметр <b>hacker</b> не установлен в <b>true</b>. Попробуйте @Html.ActionLink("еще раз", "Level1", "Csrf").</p>