@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy CSRF: Level 1";
}

<p>Сделайте CSRF, отправив POST-ом параметр <b><code>hacker</code></b> со значением <b><code>true</code></b> на <b><code>/Csrf/Level1</code></b>.</p>