@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy CSRF: Level 2";
}

<p>Сделайте CSRF, отправив POST-ом JSON <b><code>{"hacker" : "true"}</code></b> на <b><code>/Csrf/Level2</code></b>.</p>