@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy CSRF: Level 2";
}

<p>Сделай CSRF, установив параметр <b>hacker</b> в <b>true</b>.</p>

@using (Html.BeginForm("Level1", "Csrf", FormMethod.Post))
{
    @Html.Hidden("hacker", "false")
}