@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <title>Candy Security Game</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/style.css">
    </head>
    <body>
        <h1>Candy Security Game</h1>
        <p>
            @Html.ActionLink("XSS", "Index", "Level1")
        </p>
        <p>
            @Html.ActionLink("CSRF", "Index", "Level1")
        </p>
    </body>
</html>