@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <title>Candy Game</title>
	    <link rel="stylesheet" type="text/css" href="~/Content/Styles/style.css">
	</head>
	<body>
		<h1>Candy Game</h1>
		@Html.ActionLink("Начать", "Index", "Level1")
	</body>
</html>