@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy Security Game";
}

<span>
    <a class="big-link" href="@Url.Action("Level1", "Xss")">XSS</a>
    <a class="big-link" href="@Url.Action("Level1", "Csrf")">CSRF</a>
</span>