@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy Security Game";
}

<span>
    @Html.ActionLink("XSS", "Level1", "Xss")
    @Html.ActionLink("CSRF", "Level1", "Csrf")
</span>