@{
    Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <title>Candy XSS: Level 1</title>
        <link rel="stylesheet" type="text/css" href="~/Content/Styles/style.css">
    </head>
    <body>
        <h1>Candy XSS: Level 1</h1>
    </body>
</html>