@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy XSS: Level 4";
}

<div id="task" class="level">
    <div>Сделайте XSS и выведите что-нибудь при помощи <b><code>alert()</code></b>.</div>
</div>
