@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Header = "Candy XSS: Level 1";
}

<div id="task" class="level">
    <div>Сделайте XSS.</div>
    @if (!string.IsNullOrWhiteSpace(Model)) {
        <div>По запросу &laquo;<b>@Html.Raw(Model)</b>&raquo; ничего не найдено.</div>
    }
    <form action="" method="GET">
      <input id="query" name="query" value="" autofocus="true" autocomplete="off" />
    </form>
</div>

<p id="nextLevel" class="hidden">Отлично! @Html.ActionLink("Следующий уровень", "Level2", "Xss").</p>